.Restaurant {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 16.66rem;
  margin: 0 .5rem 2.3rem .5rem;
}

.Restaurant .image-container {
  height: 16.66rem;
  margin-bottom: 1rem;
}

.Restaurant h2 {
  margin-bottom: .5rem;
  font-size: 1.2rem;
  font-weight: 600;
}
